---
title: Solutions
suppress_header: true
extra_css:
  - features-v2.css
extra_js:
  - features.js
---

.page-container.landing-container.text-center
  %div
    %h1.page-headline
      Solutions
    %h2.page-subtitle
      Confidently and rapidly iterate towards a better product.

= partial "includes/solutions/solution-item", locals: { solution: "chat" }
= partial "includes/solutions/solution-item", locals: { solution: "define" }
= partial "includes/solutions/solution-item", locals: { solution: "plan" }
= partial "includes/solutions/solution-item", locals: { solution: "create" }
= partial "includes/solutions/solution-item", locals: { solution: "review" }
= partial "includes/solutions/solution-item", locals: { solution: "release" }
= partial "includes/solutions/solution-item", locals: { solution: "monitor" }
= partial "includes/solutions/solution-item", locals: { solution: "scalability" }
= partial "includes/solutions/solution-item", locals: { solution: "availability" }
= partial "includes/solutions/solution-item", locals: { solution: "compliance" }
= partial "includes/solutions/solution-item", locals: { solution: "security" }
= partial "includes/solutions/solution-item", locals: { solution: "services" }
= partial "includes/solutions/solution-item", locals: { solution: "wiki" }
= partial "includes/solutions/solution-item", locals: { solution: "pages" }
= partial "includes/solutions/solution-item", locals: { solution: "service_desk" }
= partial "includes/solutions/solution-item", locals: { solution: "innersourcing" }
= partial "includes/solutions/solution-item", locals: { solution: "integration" }
= partial "includes/solutions/solution-item", locals: { solution: "open_core" }
= partial "includes/solutions/solution-item", locals: { solution: "efficiency" }
= partial "includes/solutions/solution-item", locals: { solution: "gitlab_com" }

.gitlab-cta-container.text-center.animated
  .container
    %h1
      Choose the version of GitLab that is best for you
    %h4
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/products"}
      Explore our products
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/products"}
      Explore
