---
layout: default
title: Open Core
suppress_header: true
extra_css:
  - features-v2.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.open_core, solution_name: "open_core" }
