---
layout: default
title: Wiki
suppress_header: true
extra_css:
  - features-v2.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.wiki, solution_name: "wiki" }
